.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container > p {
  margin-top: 2rem;
}

.container > p > a {
  color: rgb(78, 155, 255);
}

.container > p > a:hover {
  font-weight: bold;
}
