.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  gap: 2rem;
}

.container > div {
  height: 2rem;
}
.container > div > input {
  height: inherit;
}
